/* Комментарий */
p {
	color: orange;
}
.text {
	color: yellow;
}
section span {
	color: blue;
}
/* Свойство font-family (шрифт элемента) */
.arial {
	font-family: arial;
}
.verdana {
	font-family: verdana;
}